# Environment folders
.venv/
.env/
.conda/
__pycache__/

# IDE folders
.vscode/
.idea/

# Compressed files
*.zip
*.7z
*.tar.gz
*.gz

# Latex files
*.aux
*.fdb_latexmk
*.log
*.out
*.dvi
*.fls

# Specific files
ml-25m/
SampleMoviePosters/
.env
posters/